In [ ]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /gdrive
/gdrive

In [ ]:
import pandas as pd
import keras 
import tensorflow as tf
from keras import models
from keras import layers 
import numpy as np
import matplotlib.pyplot as plt
from keras.utils import to_categorical
from keras import optimizers
from keras.layers import Conv1D,Flatten,Dropout
from keras.models import model_from_json
import numpy as np

Using TensorFlow backend.

In [ ]:
train=pd.read_csv('/gdrive/My Drive/Colab Notebooks/megaproject2/Datasets/original_dataset.csv')
train

                         State_Name District_Name  ...      Area Production
0       Andaman and Nicobar Islands      NICOBARS  ...    1254.0     2000.0
1       Andaman and Nicobar Islands      NICOBARS  ...     102.0      321.0
2       Andaman and Nicobar Islands      NICOBARS  ...     176.0      641.0
3       Andaman and Nicobar Islands      NICOBARS  ...     720.0      165.0
4       Andaman and Nicobar Islands      NICOBARS  ...      36.0      100.0
...                             ...           ...  ...       ...        ...
233612                  West Bengal       PURULIA  ...     306.0      801.0
233613                  West Bengal       PURULIA  ...     627.0      463.0
233614                  West Bengal       PURULIA  ...     324.0    16250.0
233615                  West Bengal       PURULIA  ...  279151.0   597899.0
233616                  West Bengal       PURULIA  ...     175.0       88.0

[233617 rows x 7 columns]

In [ ]:
train=train.dropna()
train=train[train['Production'] >= 1]
train=train[train['Area'] >=1]
train=train[train['Crop_Year'] <2015]
train=train[train['Production']<=20000000]
train=train[train['Area']<=1800000]

In [ ]:
State=train.State_Name.unique()
print(State)
State.shape

['Andaman and Nicobar Islands' 'Andhra Pradesh' 'Arunachal Pradesh'
 'Assam' 'Bihar' 'Chandigarh' 'Chhattisgarh' 'Dadra and Nagar Haveli'
 'Goa' 'Gujarat' 'Haryana' 'Himachal Pradesh' 'Jammu and Kashmir '
 'Jharkhand' 'Karnataka' 'Kerala' 'Madhya Pradesh' 'Maharashtra' 'Manipur'
 'Meghalaya' 'Mizoram' 'Nagaland' 'Odisha' 'Puducherry' 'Punjab'
 'Rajasthan' 'Sikkim' 'Tamil Nadu' 'Telangana ' 'Tripura' 'Uttar Pradesh'
 'Uttarakhand' 'West Bengal']

(33,)

In [ ]:
df=pd.DataFrame(State)
df.to_csv('/gdrive/My Drive//SEMVII/mp/state.csv')    #save state.csv to drive

In [ ]:
District=train.District_Name.unique()

In [ ]:
District.shape

(646,)

In [ ]:
District.sort()
District

array(['24 PARAGANAS NORTH', '24 PARAGANAS SOUTH', 'ADILABAD',
       'AGAR MALWA', 'AGRA', 'AHMADABAD', 'AHMEDNAGAR', 'AIZAWL', 'AJMER',
       'AKOLA', 'ALAPPUZHA', 'ALIGARH', 'ALIRAJPUR', 'ALLAHABAD',
       'ALMORA', 'ALWAR', 'AMBALA', 'AMBEDKAR NAGAR', 'AMETHI',
       'AMRAVATI', 'AMRELI', 'AMRITSAR', 'AMROHA', 'ANAND', 'ANANTAPUR',
       'ANANTNAG', 'ANJAW', 'ANUGUL', 'ANUPPUR', 'ARARIA', 'ARIYALUR',
       'ARWAL', 'ASHOKNAGAR', 'AURAIYA', 'AURANGABAD', 'AZAMGARH',
       'BADGAM', 'BAGALKOT', 'BAGESHWAR', 'BAGHPAT', 'BAHRAICH', 'BAKSA',
       'BALAGHAT', 'BALANGIR', 'BALESHWAR', 'BALLIA', 'BALOD',
       'BALODA BAZAR', 'BALRAMPUR', 'BANAS KANTHA', 'BANDA', 'BANDIPORA',
       'BANGALORE RURAL', 'BANKA', 'BANKURA', 'BANSWARA', 'BARABANKI',
       'BARAMULLA', 'BARAN', 'BARDHAMAN', 'BAREILLY', 'BARGARH', 'BARMER',
       'BARNALA', 'BARPETA', 'BARWANI', 'BASTAR', 'BASTI', 'BATHINDA',
       'BEED', 'BEGUSARAI', 'BELGAUM', 'BELLARY', 'BEMETARA',
       'BENGALURU URBAN', 'BETUL', 'BHADRAK', 'BHAGALPUR', 'BHANDARA',
       'BHARATPUR', 'BHARUCH', 'BHAVNAGAR', 'BHILWARA', 'BHIND',
       'BHIWANI', 'BHOJPUR', 'BHOPAL', 'BIDAR', 'BIJAPUR', 'BIJNOR',
       'BIKANER', 'BILASPUR', 'BIRBHUM', 'BISHNUPUR', 'BOKARO',
       'BONGAIGAON', 'BOUDH', 'BUDAUN', 'BULANDSHAHR', 'BULDHANA',
       'BUNDI', 'BURHANPUR', 'BUXAR', 'CACHAR', 'CHAMARAJANAGAR',
       'CHAMBA', 'CHAMOLI', 'CHAMPAWAT', 'CHAMPHAI', 'CHANDAULI',
       'CHANDEL', 'CHANDIGARH', 'CHANDRAPUR', 'CHANGLANG', 'CHATRA',
       'CHHATARPUR', 'CHHINDWARA', 'CHIKBALLAPUR', 'CHIKMAGALUR',
       'CHIRANG', 'CHITRADURGA', 'CHITRAKOOT', 'CHITTOOR', 'CHITTORGARH',
       'CHURACHANDPUR', 'CHURU', 'COIMBATORE', 'COOCHBEHAR', 'CUDDALORE',
       'CUTTACK', 'DADRA AND NAGAR HAVELI', 'DAKSHIN KANNAD', 'DAMOH',
       'DANG', 'DANTEWADA', 'DARBHANGA', 'DARJEELING', 'DARRANG', 'DATIA',
       'DAUSA', 'DAVANGERE', 'DEHRADUN', 'DEOGARH', 'DEOGHAR', 'DEORIA',
       'DEWAS', 'DHALAI', 'DHAMTARI', 'DHANBAD', 'DHAR', 'DHARMAPURI',
       'DHARWAD', 'DHEMAJI', 'DHENKANAL', 'DHOLPUR', 'DHUBRI', 'DHULE',
       'DIBANG VALLEY', 'DIBRUGARH', 'DIMA HASAO', 'DIMAPUR',
       'DINAJPUR DAKSHIN', 'DINAJPUR UTTAR', 'DINDIGUL', 'DINDORI',
       'DODA', 'DOHAD', 'DUMKA', 'DUNGARPUR', 'DURG', 'EAST DISTRICT',
       'EAST GARO HILLS', 'EAST GODAVARI', 'EAST JAINTIA HILLS',
       'EAST KAMENG', 'EAST KHASI HILLS', 'EAST SIANG', 'EAST SINGHBUM',
       'ERNAKULAM', 'ERODE', 'ETAH', 'ETAWAH', 'FAIZABAD', 'FARIDABAD',
       'FARIDKOT', 'FARRUKHABAD', 'FATEHABAD', 'FATEHGARH SAHIB',
       'FATEHPUR', 'FAZILKA', 'FIROZABAD', 'FIROZEPUR', 'GADAG',
       'GADCHIROLI', 'GAJAPATI', 'GANDERBAL', 'GANDHINAGAR', 'GANGANAGAR',
       'GANJAM', 'GARHWA', 'GARIYABAND', 'GAUTAM BUDDHA NAGAR', 'GAYA',
       'GHAZIABAD', 'GHAZIPUR', 'GIRIDIH', 'GOALPARA', 'GODDA',
       'GOLAGHAT', 'GOMATI', 'GONDA', 'GONDIA', 'GOPALGANJ', 'GORAKHPUR',
       'GULBARGA', 'GUMLA', 'GUNA', 'GUNTUR', 'GURDASPUR', 'GURGAON',
       'GWALIOR', 'HAILAKANDI', 'HAMIRPUR', 'HANUMANGARH', 'HAPUR',
       'HARDA', 'HARDOI', 'HARIDWAR', 'HASSAN', 'HATHRAS', 'HAVERI',
       'HAZARIBAGH', 'HINGOLI', 'HISAR', 'HOOGHLY', 'HOSHANGABAD',
       'HOSHIARPUR', 'HOWRAH', 'HYDERABAD', 'IDUKKI', 'IMPHAL EAST',
       'IMPHAL WEST', 'INDORE', 'JABALPUR', 'JAGATSINGHAPUR', 'JAIPUR',
       'JAISALMER', 'JAJAPUR', 'JALANDHAR', 'JALAUN', 'JALGAON', 'JALNA',
       'JALORE', 'JALPAIGURI', 'JAMMU', 'JAMNAGAR', 'JAMTARA', 'JAMUI',
       'JANJGIR-CHAMPA', 'JASHPUR', 'JAUNPUR', 'JEHANABAD', 'JHABUA',
       'JHAJJAR', 'JHALAWAR', 'JHANSI', 'JHARSUGUDA', 'JHUNJHUNU', 'JIND',
       'JODHPUR', 'JORHAT', 'JUNAGADH', 'KABIRDHAM', 'KACHCHH', 'KADAPA',
       'KAIMUR (BHABUA)', 'KAITHAL', 'KALAHANDI', 'KAMRUP',
       'KAMRUP METRO', 'KANCHIPURAM', 'KANDHAMAL', 'KANGRA', 'KANKER',
       'KANNAUJ', 'KANNIYAKUMARI', 'KANNUR', 'KANPUR DEHAT',
       'KANPUR NAGAR', 'KAPURTHALA', 'KARAIKAL', 'KARAULI',
       'KARBI ANGLONG', 'KARGIL', 'KARIMGANJ', 'KARIMNAGAR', 'KARNAL',
       'KARUR', 'KASARAGOD', 'KASGANJ', 'KATHUA', 'KATIHAR', 'KATNI',
       'KAUSHAMBI', 'KENDRAPARA', 'KENDUJHAR', 'KHAGARIA', 'KHAMMAM',
       'KHANDWA', 'KHARGONE', 'KHEDA', 'KHERI', 'KHORDHA', 'KHOWAI',
       'KHUNTI', 'KINNAUR', 'KIPHIRE', 'KISHANGANJ', 'KISHTWAR', 'KODAGU',
       'KODERMA', 'KOHIMA', 'KOKRAJHAR', 'KOLAR', 'KOLASIB', 'KOLHAPUR',
       'KOLLAM', 'KONDAGAON', 'KOPPAL', 'KORAPUT', 'KORBA', 'KOREA',
       'KOTA', 'KOTTAYAM', 'KOZHIKODE', 'KRISHNA', 'KRISHNAGIRI',
       'KULGAM', 'KULLU', 'KUPWARA', 'KURNOOL', 'KURUKSHETRA',
       'KURUNG KUMEY', 'KUSHI NAGAR', 'LAHUL AND SPITI', 'LAKHIMPUR',
       'LAKHISARAI', 'LALITPUR', 'LATEHAR', 'LATUR', 'LAWNGTLAI',
       'LEH LADAKH', 'LOHARDAGA', 'LOHIT', 'LONGDING', 'LONGLENG',
       'LOWER DIBANG VALLEY', 'LOWER SUBANSIRI', 'LUCKNOW', 'LUDHIANA',
       'LUNGLEI', 'MADHEPURA', 'MADHUBANI', 'MADURAI', 'MAHARAJGANJ',
       'MAHASAMUND', 'MAHBUBNAGAR', 'MAHE', 'MAHENDRAGARH', 'MAHESANA',
       'MAHOBA', 'MAINPURI', 'MALAPPURAM', 'MALDAH', 'MALKANGIRI',
       'MAMIT', 'MANDI', 'MANDLA', 'MANDSAUR', 'MANDYA', 'MANSA',
       'MARIGAON', 'MATHURA', 'MAU', 'MAYURBHANJ', 'MEDAK',
       'MEDINIPUR EAST', 'MEDINIPUR WEST', 'MEERUT', 'MEWAT', 'MIRZAPUR',
       'MOGA', 'MOKOKCHUNG', 'MON', 'MORADABAD', 'MORENA', 'MUKTSAR',
       'MUMBAI', 'MUNGELI', 'MUNGER', 'MURSHIDABAD', 'MUZAFFARNAGAR',
       'MUZAFFARPUR', 'MYSORE', 'NABARANGPUR', 'NADIA', 'NAGAON',
       'NAGAPATTINAM', 'NAGAUR', 'NAGPUR', 'NAINITAL', 'NALANDA',
       'NALBARI', 'NALGONDA', 'NAMAKKAL', 'NAMSAI', 'NANDED', 'NANDURBAR',
       'NARAYANPUR', 'NARMADA', 'NARSINGHPUR', 'NASHIK', 'NAVSARI',
       'NAWADA', 'NAWANSHAHR', 'NAYAGARH', 'NEEMUCH', 'NICOBARS',
       'NIZAMABAD', 'NORTH AND MIDDLE ANDAMAN', 'NORTH DISTRICT',
       'NORTH GARO HILLS', 'NORTH GOA', 'NORTH TRIPURA', 'NUAPADA',
       'OSMANABAD', 'PAKUR', 'PALAKKAD', 'PALAMU', 'PALGHAR', 'PALI',
       'PALWAL', 'PANCH MAHALS', 'PANCHKULA', 'PANIPAT', 'PANNA',
       'PAPUM PARE', 'PARBHANI', 'PASHCHIM CHAMPARAN', 'PATAN',
       'PATHANAMTHITTA', 'PATHANKOT', 'PATIALA', 'PATNA', 'PAURI GARHWAL',
       'PERAMBALUR', 'PEREN', 'PHEK', 'PILIBHIT', 'PITHORAGARH',
       'PONDICHERRY', 'POONCH', 'PORBANDAR', 'PRAKASAM', 'PRATAPGARH',
       'PUDUKKOTTAI', 'PULWAMA', 'PUNE', 'PURBI CHAMPARAN', 'PURI',
       'PURNIA', 'PURULIA', 'RAE BARELI', 'RAICHUR', 'RAIGAD', 'RAIGARH',
       'RAIPUR', 'RAISEN', 'RAJAURI', 'RAJGARH', 'RAJKOT', 'RAJNANDGAON',
       'RAJSAMAND', 'RAMANAGARA', 'RAMANATHAPURAM', 'RAMBAN', 'RAMGARH',
       'RAMPUR', 'RANCHI', 'RANGAREDDI', 'RATLAM', 'RATNAGIRI',
       'RAYAGADA', 'REASI', 'REWA', 'REWARI', 'RI BHOI', 'ROHTAK',
       'ROHTAS', 'RUDRA PRAYAG', 'RUPNAGAR', 'S.A.S NAGAR',
       'SABAR KANTHA', 'SAGAR', 'SAHARANPUR', 'SAHARSA', 'SAHEBGANJ',
       'SAIHA', 'SALEM', 'SAMASTIPUR', 'SAMBA', 'SAMBALPUR', 'SAMBHAL',
       'SANGLI', 'SANGRUR', 'SANT KABEER NAGAR', 'SANT RAVIDAS NAGAR',
       'SARAIKELA KHARSAWAN', 'SARAN', 'SATARA', 'SATNA',
       'SAWAI MADHOPUR', 'SEHORE', 'SENAPATI', 'SEONI', 'SEPAHIJALA',
       'SERCHHIP', 'SHAHDOL', 'SHAHJAHANPUR', 'SHAJAPUR', 'SHAMLI',
       'SHEIKHPURA', 'SHEOHAR', 'SHEOPUR', 'SHIMLA', 'SHIMOGA',
       'SHIVPURI', 'SHOPIAN', 'SHRAVASTI', 'SIDDHARTH NAGAR', 'SIDHI',
       'SIKAR', 'SIMDEGA', 'SINDHUDURG', 'SINGRAULI', 'SIRMAUR', 'SIROHI',
       'SIRSA', 'SITAMARHI', 'SITAPUR', 'SIVAGANGA', 'SIVASAGAR', 'SIWAN',
       'SOLAN', 'SOLAPUR', 'SONBHADRA', 'SONEPUR', 'SONIPAT', 'SONITPUR',
       'SOUTH ANDAMANS', 'SOUTH DISTRICT', 'SOUTH GARO HILLS',
       'SOUTH GOA', 'SOUTH TRIPURA', 'SOUTH WEST GARO HILLS',
       'SOUTH WEST KHASI HILLS', 'SPSR NELLORE', 'SRIKAKULAM', 'SRINAGAR',
       'SUKMA', 'SULTANPUR', 'SUNDARGARH', 'SUPAUL', 'SURAJPUR', 'SURAT',
       'SURENDRANAGAR', 'SURGUJA', 'TAMENGLONG', 'TAPI', 'TARN TARAN',
       'TAWANG', 'TEHRI GARHWAL', 'THANE', 'THANJAVUR', 'THE NILGIRIS',
       'THENI', 'THIRUVALLUR', 'THIRUVANANTHAPURAM', 'THIRUVARUR',
       'THOUBAL', 'THRISSUR', 'TIKAMGARH', 'TINSUKIA', 'TIRAP',
       'TIRUCHIRAPPALLI', 'TIRUNELVELI', 'TIRUPPUR', 'TIRUVANNAMALAI',
       'TONK', 'TUENSANG', 'TUMKUR', 'TUTICORIN', 'UDAIPUR', 'UDALGURI',
       'UDAM SINGH NAGAR', 'UDHAMPUR', 'UDUPI', 'UJJAIN', 'UKHRUL',
       'UMARIA', 'UNA', 'UNAKOTI', 'UNNAO', 'UPPER SIANG',
       'UPPER SUBANSIRI', 'UTTAR KANNAD', 'UTTAR KASHI', 'VADODARA',
       'VAISHALI', 'VALSAD', 'VARANASI', 'VELLORE', 'VIDISHA',
       'VILLUPURAM', 'VIRUDHUNAGAR', 'VISAKHAPATANAM', 'VIZIANAGARAM',
       'WARANGAL', 'WARDHA', 'WASHIM', 'WAYANAD', 'WEST DISTRICT',
       'WEST GARO HILLS', 'WEST GODAVARI', 'WEST JAINTIA HILLS',
       'WEST KAMENG', 'WEST KHASI HILLS', 'WEST SIANG', 'WEST SINGHBHUM',
       'WEST TRIPURA', 'WOKHA', 'YADGIR', 'YAMUNANAGAR', 'YANAM',
       'YAVATMAL', 'ZUNHEBOTO'], dtype=object)

In [ ]:
df=pd.DataFrame(District)
df.to_csv('/gdrive/My Drive//SEMVII/mp/district.csv',index=False)   #save district.csv to drive

In [ ]:
crop=train.Crop.unique()
print(crop)
crop.shape

['Arecanut' 'Rice' 'Banana' 'Cashewnut' 'Dry ginger' 'Sugarcane'
 'Sweet potato' 'Tapioca' 'Black pepper' 'Dry chillies' 'Turmeric' 'Maize'
 'Moong(Green Gram)' 'Urad' 'Arhar/Tur' 'Groundnut' 'Sunflower' 'Bajra'
 'Castor seed' 'Cotton(lint)' 'Horse-gram' 'Jowar' 'Korra' 'Ragi'
 'Tobacco' 'Gram' 'Wheat' 'Masoor' 'Sesamum' 'Linseed' 'Safflower' 'Onion'
 'Samai' 'Small millets' 'Coriander' 'Potato' 'Beans & Mutter(Vegetable)'
 'Bhindi' 'Brinjal' 'Citrus Fruit' 'Grapes' 'Mango' 'Orange' 'Papaya'
 'Pome Fruit' 'Tomato' 'Soyabean' 'Mesta' 'Cowpea(Lobia)' 'Lemon'
 'Pome Granet' 'Sapota' 'Cabbage' 'Rapeseed &Mustard' 'Niger seed'
 'Varagu' 'Garlic' 'Ginger' 'Oilseeds total' 'Pulses total' 'Jute'
 'Peas & beans (Pulses)' 'Blackgram' 'Paddy' 'Pineapple' 'Barley'
 'Sannhamp' 'Khesari' 'Guar seed' 'Moth' 'Turnip' 'Carrot' 'Redish'
 'Arcanut (Processed)' 'Atcanut (Raw)' 'Cashewnut Processed'
 'Cashewnut Raw' 'Cardamom' 'Rubber' 'Drum Stick' 'Jack Fruit' 'Coffee'
 'Tea' 'Total foodgrain' 'Cauliflower' 'Bitter Gourd' 'Bottle Gourd'
 'Kapas' 'Colocosia' 'Lentil' 'Bean' 'Jobster' 'Perilla' 'Rajmash Kholar'
 'Ricebean (nagadal)' 'Jute & mesta']

(96,)

In [ ]:
crop.sort()
crop

array(['Arcanut (Processed)', 'Arecanut', 'Arhar/Tur', 'Atcanut (Raw)',
       'Bajra', 'Banana', 'Barley', 'Bean', 'Beans & Mutter(Vegetable)',
       'Bhindi', 'Bitter Gourd', 'Black pepper', 'Blackgram',
       'Bottle Gourd', 'Brinjal', 'Cabbage', 'Cardamom', 'Carrot',
       'Cashewnut', 'Cashewnut Processed', 'Cashewnut Raw', 'Castor seed',
       'Cauliflower', 'Citrus Fruit', 'Coffee', 'Colocosia', 'Coriander',
       'Cotton(lint)', 'Cowpea(Lobia)', 'Drum Stick', 'Dry chillies',
       'Dry ginger', 'Garlic', 'Ginger', 'Gram', 'Grapes', 'Groundnut',
       'Guar seed', 'Horse-gram', 'Jack Fruit', 'Jobster', 'Jowar',
       'Jute', 'Jute & mesta', 'Kapas', 'Khesari', 'Korra', 'Lemon',
       'Lentil', 'Linseed', 'Maize', 'Mango', 'Masoor', 'Mesta',
       'Moong(Green Gram)', 'Moth', 'Niger seed', 'Oilseeds total',
       'Onion', 'Orange', 'Paddy', 'Papaya', 'Peas & beans (Pulses)',
       'Perilla', 'Pineapple', 'Pome Fruit', 'Pome Granet', 'Potato',
       'Pulses total', 'Ragi', 'Rajmash Kholar', 'Rapeseed &Mustard',
       'Redish', 'Rice', 'Ricebean (nagadal)', 'Rubber', 'Safflower',
       'Samai', 'Sannhamp', 'Sapota', 'Sesamum', 'Small millets',
       'Soyabean', 'Sugarcane', 'Sunflower', 'Sweet potato', 'Tapioca',
       'Tea', 'Tobacco', 'Tomato', 'Total foodgrain', 'Turmeric',
       'Turnip', 'Urad', 'Varagu', 'Wheat'], dtype=object)

In [ ]:
df=pd.DataFrame(crop)
df.to_csv('/gdrive/My Drive//SEMVII/mp/crop.csv',index=False) #save crop.csv to drive

In [ ]:
season=train.Season.unique()
print(season)

In [ ]:
season.sort()
season

array(['Autumn     ', 'Kharif     ', 'Rabi       ', 'Summer     ',
       'Whole Year ', 'Winter     '], dtype=object)

In [ ]:
df=pd.DataFrame(season)
df.to_csv('/gdrive/My Drive//SEMVII/mp/season.csv',index=False,) #save season.csv to drive

In [ ]:
data=pd.read_csv('/gdrive/My Drive//SEMVII/mp/crop.csv')
data

                      0
0   Arcanut (Processed)
1              Arecanut
2             Arhar/Tur
3         Atcanut (Raw)
4                 Bajra
..                  ...
91             Turmeric
92               Turnip
93                 Urad
94               Varagu
95                Wheat

[96 rows x 1 columns]

In [ ]:
df=pd.DataFrame(train)
df=df.drop_duplicates(subset="District_Name")
df.to_csv('/gdrive/My Drive//SEMVII/mp/statewithdistrict.csv',index=False) #save statewithdistrict.csv to drive
df

                         State_Name  ... Production
0       Andaman and Nicobar Islands  ...    2000.00
65      Andaman and Nicobar Islands  ...    5200.00
107     Andaman and Nicobar Islands  ...   31600.82
170                  Andhra Pradesh  ...    2600.00
914                  Andhra Pradesh  ...     900.00
...                             ...  ...        ...
230923                  West Bengal  ...   39560.00
231257                  West Bengal  ...  105780.00
231862                  West Bengal  ...   65000.00
232438                  West Bengal  ...   98910.00
233001                  West Bengal  ...      67.00

[646 rows x 7 columns]

In [ ]:
df=pd.DataFrame(train)
df=df.drop_duplicates(subset="Crop")
df=df.drop('State_Name',axis=1)
df=df.drop('District_Name',axis=1)
df=df.drop('Area',axis=1)
df=df.drop('Crop_Year',axis=1)
df=df.drop('Production',axis=1)
df=df.sort_values(by=['Season','Crop'],axis=0)
df.to_csv('/gdrive/My Drive//SEMVII/mp/seasonwisecrop.csv',index=False)
df

             Season      Crop
12028   Autumn          Paddy
0       Kharif       Arecanut
171     Kharif          Bajra
134633  Kharif           Bean
791     Kharif        Cabbage
...             ...       ...
7       Whole Year    Tapioca
92182   Whole Year        Tea
391     Whole Year     Tomato
40      Whole Year   Turmeric
69616   Whole Year     Turnip

[96 rows x 2 columns]