In [ ]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /gdrive
/gdrive

In [ ]:
import pandas as pd
import keras 
import tensorflow as tf
from keras import models
from keras import layers 
import numpy as np
from keras import optimizers
from keras.layers import Conv1D,Flatten
from keras.models import model_from_json
import numpy as np

Using TensorFlow backend.

In [ ]:
data=pd.read_csv('/gdrive/My Drive/Colab Notebooks/megaproject2/data.csv')
data

       District_Name  Crop_Year       Season        Crop      Area  Production
0           NICOBARS       2000  Kharif         Arecanut    1254.0      2000.0
1           NICOBARS       2000  Kharif             Rice     102.0       321.0
2           NICOBARS       2000  Whole Year       Banana     176.0       641.0
3           NICOBARS       2000  Whole Year    Cashewnut     720.0       165.0
4           NICOBARS       2000  Whole Year   Dry ginger      36.0       100.0
...              ...        ...          ...         ...       ...         ...
227693       PURULIA       2014  Summer             Rice     306.0       801.0
227694       PURULIA       2014  Summer          Sesamum     627.0       463.0
227695       PURULIA       2014  Whole Year    Sugarcane     324.0     16250.0
227696       PURULIA       2014  Winter             Rice  279151.0    597899.0
227697       PURULIA       2014  Winter          Sesamum     175.0        88.0

[227698 rows x 6 columns]

In [ ]:
data=data.dropna()
#data=data.drop('State_Name',axis=1)
data=data[data['Production'] >= 1]
data=data[data['Area'] >=1]
data=data[data['Crop_Year'] <2015]
data=data[data['Production']<=20000000]
data=data[data['Area']<=1800000]

In [ ]:
data.describe()

           Crop_Year          Area    Production
count  227698.000000  2.276980e+05  2.276980e+05
mean     2005.672408  1.244956e+04  4.817339e+04
std         4.974020  3.984468e+04  3.868904e+05
min      1997.000000  1.000000e+00  1.000000e+00
25%      2002.000000  9.200000e+01  1.000000e+02
50%      2006.000000  6.470000e+02  8.120000e+02
75%      2010.000000  4.861750e+03  7.591000e+03
max      2014.000000  1.403200e+06  1.822300e+07

In [ ]:
# importing label encoder from sklearn 
from sklearn.preprocessing import LabelEncoder 
le = LabelEncoder()   
data['District_Name']= le.fit_transform(data['District_Name'])  
data['Season']= le.fit_transform(data['Season'])  
data['Crop']= le.fit_transform(data['Crop'])

In [ ]:
data

        District_Name  Crop_Year  Season  Crop      Area  Production
0                 427       2000       1     1    1254.0      2000.0
1                 427       2000       1    73     102.0       321.0
2                 427       2000       4     5     176.0       641.0
3                 427       2000       4    18     720.0       165.0
4                 427       2000       4    31      36.0       100.0
...               ...        ...     ...   ...       ...         ...
227693            471       2014       3    73     306.0       801.0
227694            471       2014       3    80     627.0       463.0
227695            471       2014       4    83     324.0     16250.0
227696            471       2014       5    73  279151.0    597899.0
227697            471       2014       5    80     175.0        88.0

[227698 rows x 6 columns]

In [ ]:
print(train.District_Name.unique())
print(train.Season.unique())
print(train.Crop.unique())

In [ ]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(data, test_size=0.20)

In [ ]:
print("train:",len(train),"test:",len(test),"=",len(train)+len(test))

train: 182158 test: 45540 = 227698

In [ ]:
from sklearn.preprocessing import OneHotEncoder 
onehotencoder = OneHotEncoder(categorical_features =[0,2,3] ) 
x_train = onehotencoder.fit_transform(train).toarray()
x_test = onehotencoder.fit_transform(test).toarray()
print(x_train.shape)
print(x_test.shape)

In [ ]:
train.describe()

       District_Name      Crop_Year  ...          Area    Production
count  166219.000000  166219.000000  ...  1.662190e+05  1.662190e+05
mean      310.012411    2005.665369  ...  1.247285e+04  4.794215e+04
std       187.271723       4.976012  ...  4.033101e+04  3.868915e+05
min         0.000000    1997.000000  ...  1.000000e+00  1.000000e+00
25%       142.000000    2002.000000  ...  9.200000e+01  1.000000e+02
50%       302.000000    2006.000000  ...  6.450000e+02  8.100000e+02
75%       472.000000    2010.000000  ...  4.828000e+03  7.538000e+03
max       645.000000    2014.000000  ...  1.403200e+06  1.810000e+07

[8 rows x 6 columns]

In [ ]:
test.describe()

       District_Name     Crop_Year  ...           Area    Production
count   61479.000000  61479.000000  ...   61479.000000  6.147900e+04
mean      311.551164   2005.691439  ...   12386.575559  4.879858e+04
std       186.718038      4.968620  ...   38499.300688  3.868898e+05
min         0.000000   1997.000000  ...       1.000000  1.000000e+00
25%       145.000000   2002.000000  ...      92.000000  1.000000e+02
50%       304.000000   2006.000000  ...     651.000000  8.200000e+02
75%       472.000000   2010.000000  ...    4942.000000  7.700000e+03
max       645.000000   2014.000000  ...  921718.000000  1.822300e+07

[8 rows x 6 columns]

In [ ]:
print(x_train.shape)
print(x_test.shape)

(182158, 751)
(45540, 748)

In [ ]:
df=pd.DataFrame(test)
df.to_csv('/gdrive/My Drive/SEMVII/mp/test.csv',index=False)
df=pd.DataFrame(train)
df.to_csv('/gdrive/My Drive/SEMVII/mp/train.csv',index=False)